---
---

@import "{{ site.theme }}";

section.page-header{
    h1.project-name{
        text-indent: -5000px;
    }
    h2.project-tagline{
        text-indent: -5000px;
    }
    a.btn {
        display:none;
    }

    background-image: url("/assets/img/bg.jpg");
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
}